<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ToneAnalyzerUsername</key>
	<string>c7366396-7fab-46b8-bb83-9d4004259803</string>
	<key>ToneAnalyzerPassword</key>
	<string>Z0mM8iygtJS7</string>
	<key>SpeechToTextUsername</key>
	<string>4d5e255c-238e-4be1-b485-58bb9f9b53d7</string>
	<key>SpeechToTextPassword</key>
	<string>2FcLT21KpwKk</string>
</dict>
</plist>
